process {
    
    executor = 'local'
    // Default settings for all processes
    memory = '16GB'
    
    withLabel: 'high_memory' {
        memory = '64GB'
        
    }
    
}

/*
executor {
    queueSize = 4 //limit to 4 concurrent jobs
}
*/

/*
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
    }

*/

params {
    resources_dir = '/workspaces/nextflow/resources'
    samplesheet_dir = '/workspaces/nextflow/Samplesheets'
    samplesheet= "${samplesheet_dir}/samplesheet.csv"
    
    reference = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"

    pigeon_gtf="s3://xella-next-genome-sequencing-job-output-prod/pigeon-resources/gencode.v39.annotation.sorted.gtf.gz"
    pigeon_tbi="s3://xella-next-genome-sequencing-job-output-prod/pigeon-resources/gencode.v39.annotation.sorted.gtf.gz.tbi"
    
    cpgmodel = "s3://2xhealth-prod-next-generation-sequencing/pb_cpg_models/pileup_calling_model.v1.tflite"
    
    exclude_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/hificnv/cnv.excluded_regions.common_50.hg38.bed.gz"
    expected_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/hificnv/expected_cn.hg38.XX.bed"
    trgt_repeats = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/trgt/human_GRCh38_no_alt_analysis_set.trgt.v0.3.4.bed"
    trf_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.trf.bed"

    aligned_output_dir= 's3://xella-next-genome-sequencing-job-output-prod/AlignedBams'
    cpg_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/CpG-Results'
    cnv_output_dir='s3://xella-next-genome-sequencing-job-output-prod/CNV_results/'
    trgt_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/TRGT_results/'
    sv_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/SV_results/'
    deepvariant_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/DeepVariant-results/'
    hiphase_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/hiphase-results/'
    fibertools_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/Fiberseq-results/'
    vep_output_dir = 's3://xella-next-genome-sequencing-job-output-prod/VEP-results/'
    test_data_dir = 's3://xella-sequencing-test-data/'
    karyotype='XX'
    
    
    cpu = 14
    sort_threads = 2

    deepvariant_threads=16


}

workDir = 's3://xella-sequencing-test-data/'
docker.enabled = true
wave.enabled = true

tower {
  accessToken = "$TOWER_ACCESS_TOKEN"
}

