process {
    
    executor = 'awsbatch'
    queue = 'spot-queue'

    errorStrategy = 'retry'
    maxRetries = 2


    // Default settings for all processes
    memory = '16GB'
    cpus = 4
    
    withLabel: 'medium_low_memory' {
        memory = '32GB'
        cpus = 8
    }


    withLabel: 'low_memory' {
        memory = '8GB'
        cpus = 4
    }
    
    withLabel: 'high_memory' {
        memory = '64GB'
        queue ='ondemand-queue'
        cpus = 16
        maxRetries = 0
        
    }

    withLabel: 'high_memory_spot' {
        memory = '64GB'
        cpus = 16
        
    }

    withLabel: 'medium_memory' {
        memory = '48GB'
        cpus = 16
        
    }
    
   
    queue = { task.attempt > 1 ? 'ondemand-queue' : 'spot-queue' }



}

aws {
    region = 'us-east-1'
    accessKey = ''
    secretKey = ''
    
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
    }
    
}

executor {
    queueSize = 24 // max number of parallel tasks in the queue; ensure vCPU quota is not exceeded
}



    


params {
    resources_dir = '/workspaces/nextflow/resources'
    samplesheet= "/workspaces/nextflow/samplesheet.csv"

    
    reference = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"
    

    pigeon_gtf=""
    pigeon_gtf_bgzip="${pigeon_gtf}.gz"
    pigeon_gtf_tbi="${pigeon_gtf_bgzip}.tbi"
    pigeon_pgi="${pigeon_gtf}.pgi"
    tss_file = ""
    tss_file_idx= "${tss_file}.pgi"
    polyA_file = ""
    
    
    exclude_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/hificnv/cnv.excluded_regions.common_50.hg38.bed.gz"
    expected_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/hificnv/expected_cn.hg38.XX.bed"
    trgt_repeats = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/trgt/human_GRCh38_no_alt_analysis_set.trgt.v0.3.4.bed"
    trf_bed = "s3://pacbio-hifi-human-wgs-reference/dataset/hifi-wdl-resources-v2.0.0/GRCh38/human_GRCh38_no_alt_analysis_set.trf.bed"

    multiqc_output_dir = ''
    aligned_output_dir= ''
    aligned_filtered_output_dir=''
    aligned_haplotagged_output_dir=''
    bam_stats_output_dir = ''
    cpg_output_dir = ''
    cnv_output_dir=''
    trgt_output_dir = ''
    sv_output_dir = ''
    deepvariant_output_dir = ''
    hiphase_output_dir = ''
    fibertools_output_dir = ''
    vep_output_dir = ''
    bedtools_output_dir = ''
    isoseq_output_dir= ''
    test_data_dir = ''
    unmapped_reads_output_dir =''

    karyotype='XX'
    
    
    cpu = 14
    sort_threads = 2

    deepvariant_threads=16


}

def timestamp = new Date().format("yyyyMMdd_HHmmss")


report {
    enabled = true
    file = "wgs-pipeline_report_${timestamp}.html"
}

timeline {
    enabled = true
    file = "wgs-pipeline_timeline_${timestamp}.html"
}

trace {
    enabled = true
    file = "wgs-pipeline_trace_${timestamp}.txt"
}

dag {
    enabled = true
    file = "wgs-pipeline_dag_${timestamp}.html"
}

workDir = ''
docker.enabled = true
wave.enabled = true
fusion.enabled = true

tower {
  accessToken = "$TOWER_ACCESS_TOKEN"
}

