process {
    
    executor = 'local'
    // Default settings for all processes
    memory = '8GB'
    
    withLabel: 'high_memory' {
        memory = '16GB'
        
    }
    
}

/*
executor {
    queueSize = 4 //limit to 4 concurrent jobs
}
*/

/*
    batch {
        cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
    }

*/

params {
    home_dir = '/workspaces/nextflow-wave-indapa'
    resources_dir = '/workspaces/nextflow-wave-indapa/resources'
    samplesheet_dir = '/workspaces/nextflow-wave-indapa/Samplesheets'
    samplesheet= "${samplesheet_dir}/samplesheet.csv"
    
    reference = "/workspaces/nextflow-wave-indapa/resources/human_GRCh38_no_alt_analysis_set.fasta"
    reference_index = "${reference}.fai"
    
    cpgmodel = "${resources_dir}/pileup_calling_model.v1.tflite"

    pigeon_gtf = "/workspaces/nextflow-wave-indapa/resources/gencode.v39.annotation.sorted.gtf.gz"
    pigeon_tbi = "/workspaces/nextflow-wave-indapa/resources/gencode.v39.annotation.sorted.gtf.gz.tbi"
    
    exclude_bed = "/workspaces/nextflow-wave-indapa/resources/cnv.excluded_regions.common_50.hg38.bed.gz"
    expected_bed = "/workspaces/nextflow-wave-indapa/resources/expected_cn.hg38.XX.bed"
    trgt_repeats = "/workspaces/nextflow-wave-indapa/resources/human_GRCh38_no_alt_analysis_set.trgt.v0.3.4.bed"
    trf_bed = "/workspaces/nextflow-wave-indapa/resources/human_GRCh38_no_alt_analysis_set.trf.bed"

    aligned_output_dir= '/workspaces/nextflow-wave-indapa/pbmm2-results'
    cpg_output_dir = '/workspaces/nextflow-wave-indapa/pb-CpG-results'
    cnv_output_dir='/workspaces/nextflow-wave-indapa/hifi-CNV-results'
    trgt_output_dir = '/workspaces/nextflow-wave-indapa/trgt-results'
    sv_output_dir = '/workspaces/nextflow-wave-indapa/pb-SV-results'
    deepvariant_output_dir = '/workspaces/nextflow-wave-indapa/DeepVariant-results'
    hiphase_output_dir = '/workspaces/nextflow-wave-indapa/hiphase-results'
    fibertools_output_dir = '/workspaces/nextflow-wave-indapa/fibertools-results'
    vep_output_dir = '/workspaces/nextflow-wave-indapa/VEP-results'
    
    karyotype='XX'
    
    
    cpu = 6
    sort_threads = 2

    deepvariant_threads=16


}

workDir = '/workspaces/nextflow-wave-indapa/nextflow-logs'
docker.enabled = true
wave.enabled = true

tower {
  accessToken = "$TOWER_ACCESS_TOKEN"
}

